body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100vw;
}

html {
	height: 100%;
	width: 100vw;
}

#debug {
    text-align:center;
}

.menu-item,
.menu-head,
.dialog {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

.dialog {
	margin: 50px;
	pointer-events: auto;
	cursor: default;
}

.leaflet-control-layers-list {
	text-align: left;
}

.close-occupation {
	margin: 5px;
	border-bottom: 1px solid #ccc;
}

.close {
	margin: 2px;
	position: absolute;
}

.close:hover,
.menu-item:hover {
	background-color: #f4f4f4;
}

.dialog-body {
	margin: 5px;
	width: auto;
	height: 100px;
}

.search-dialog-body,
.search-dialog-body div {
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

.search-dialog-body input {
	margin: 10px;
}

.search-dialog-body table {
	margin-left: 20px;
}

.search-dialog-body td {
	padding-left: 20px;
}

.td-btn:hover {
	background-color: #f4f4f4;
}

.search-dialog-body >hr,
.leaflet-popup-content >hr {
	margin-top: 0;
	margin-bottom: 0;
}

.dialog-edit-iconShow {
	height: 16px;
}

.leaflet-control-layers-list {
	text-align: left;
}

#map {
	cursor: default;
}

.pointer-point-x,
.pointer-point-z,
.pointer-point-chunk {
	font: 16px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-left: 5px;
}

.help-and-about-icon {
	width: 20px;
	height: 20px;
	margin: 3px;
	background-color: transparent;
}

.help-and-about-icon2 {
	width: 26px;
	height: 26px;
	background-image: url("lib/help&about.svg");
	background-size: 26px, 26px;
}

.easy-button-button {
	padding-left: 0px;
	padding-right: 0px;
}


/*
 * vue modal
 */

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}