<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Unofficial KedamaMC World Map - alternative ver.</title>
    <!-- Moved to kedama-map.css -->
</head>

<body>
	<!--
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="lib/L.Control.SlideMenu.css">
    -->
	<link rel="stylesheet" href="kedama-map.css" />
	
    <center>
    <div id="map">
    Loading...
    </div>
    </center>
    <script type="text/javascript">
	document.querySelector('#map').style.height=((innerHeight-50)+'px');
	document.querySelector('#map').style.width='auto';
    </script>
    <div id="debug" style="height:50px"></div>
    <!-- 
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
	 -->
	<!--
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet-src.js" integrity="sha512-+ZaXMZ7sjFMiCigvm8WjllFy6g3aou3+GZngAtugLzrmPFKFK7yjSri0XnElvCTu/PrifAYQuxZTybAEkA8VOA==" crossorigin="" ></script>
	
	<script src="lib/L.Control.SlideMenu.js"></script>
	
	<script src="file-operation.js" ></script>
	<script src="leaflet-canvas_overlay.js"></script>
	<script src="leaflet-kedama_craft_map-plugins.js"></script>
	<script src="map-util.js"></script>
	<script src="kedama-map.js"></script>
	 -->
	
	
	<script type="text/x-template" id="modal-template">
		<transition name="modal">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container">

						<div class="modal-header">
							<slot name="header">
								default header
							</slot>
						</div>

						<div class="modal-body">
							<slot name="body">
								default body
							</slot>
						</div>

						<div class="modal-footer">
							<slot name="footer">
								default footer
								<button class="modal-default-button" @click="$emit('close')">
									OK
								</button>
							</slot>
						</div>
					</div>
				</div>
			</div>
		</transition>
	</script>
	
	<script type="text/x-template" id="template-02">
		<div class="dialog-edit-container">
			<div class="dialog-head">
				<span>编辑标记</span>
			</div>
			<hr class="normal-hr" />
			<div class="dialog-edit-body">
				<table class="dialog-edit-table">
					<tr>
						<td>title</td>
						<td>
							<input name="title" type="text" v-bind:value="marker.title" v-on:change="oc_marker_change" />
						</td>
					</tr>
					<tr>
						<td>x</td>
						<td>
							<input name="x" type="number" v-bind:value="marker.x" v-on:change="oc_marker_change" />
						</td>
					</tr>
					<tr>
						<td>z</td>
						<td>
							<input name="z" type="number" v-bind:value="marker.z" v-on:change="oc_marker_change" />
						</td>
					</tr>
					<tr>
						<td>icon</td>
						<td>
							<select name="icon" type="text" v-bind:value="marker.icon" v-on:change="oc_marker_change" >
								<option value=""></option>
								<option v-for="(icon, iconName) in icons" v-bind:value="iconName">{{ iconName }}</option>
							</select>
							<img class="dialog-edit-iconShow" v-bind:src="iconUrl" />
						</td>
					</tr>
					<tr>
						<td>description</td>
						<td>
							<textarea name="description" v-bind:value="marker.description" v-on:change="oc_marker_change" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</script>
	
	<script type="text/x-template" id="template-03">
		<div class="dialog-edit-container">
			<div class="dialog-head">
				<span>编辑标记</span>
			</div>
			<hr class="normal-hr" />
			<div class="dialog-edit-body">
				<table class="dialog-edit-table">
					<tr>
						<td>title</td>
						<td>
							<input name="name" type="text" v-bind:value="marker.name" v-on:change="oc_marker_change" />
						</td>
					</tr>
					<tr>
						<td>x</td>
						<td>
							<input name="x" type="number" v-bind:value="marker.x" v-on:change="oc_marker_change" />
						</td>
					</tr>
					<tr>
						<td>z</td>
						<td>
							<input name="z" type="number" v-bind:value="marker.z" v-on:change="oc_marker_change" />
						</td>
					</tr>
					<tr>
						<td>category</td>
						<td>
							<select name="category" type="text" v-bind:value="marker.category" v-on:change="oc_marker_change" >
								<option value=""></option>
								<option v-for="cate in categories" v-bind:value="cate">{{ cate }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>icon</td>
						<td>
							<select name="icon" type="text" v-bind:value="marker.icon" v-on:change="oc_marker_change" >
								<option value=""></option>
								<option v-for="(icon, iconName) in icons" v-bind:value="iconName">{{ iconName }}</option>
							</select>
							<img class="dialog-edit-iconShow" v-bind:src="iconUrl" />
						</td>
					</tr>
					<tr>
						<td>description</td>
						<td>
							<textarea name="description" v-bind:value="marker.description" v-on:change="oc_marker_change" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</script>
	
	<div hidden="hidden">
		<div id="control-marker-searchUI">
			<modal v-if="showModal" @close="showModal = false;">
				<h3 slot="header">custom header</h3>
			</modal>
		</div>
		
		<div id="control-marker-searchUI">
			<modal v-if="showModal" @close="showModal = false;">
				<h3 slot="header">custom header</h3>
			</modal>
		</div>
		
		<div id="help-template">
			<modal v-if="showModal" @close="showModal = false;">
				<div slot="body">
					<div>Help &amp; About</div>
					<hr class="normal-hr" />
					<div style="color: #bbbbbb;">emmm没写完<br/>请自行尝试(((</div>
				</div>
			</modal>
		</div>
		
		
	</div>
	
	
	

	
	
	<script type="text/javascript" src="Class.js"></script>
	<script type="text/javascript" src="kedama-map.js"></script>
	
	<div hidden="hidden">
		
	
	</div>
	
</body>

</html>
